@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Young serif', serif;
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

nav h1 {
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

nav .onglets a {
    text-decoration: none;
    color: white;
    margin-right: 100px;
    border-bottom: 0px solid #000;
    padding-bottom: 15px;
}
nav .onglets a:hover {
    color: #b8bcbe; /* Couleur du texte au survol */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('Accueil.jpg');
    background-size: cover;
    color: #fff;
    padding: 60px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 0px solid black;
}

header button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.main {
    margin-top: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1.1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.right {
    flex: 1;
    max-width: 600px;
    margin-right: 10px;
    margin-top: -40px;
}

.right h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

.right p:first-child {
    margin-top: -10px; /* Ajuste la marge supérieure du premier paragraphe pour le rapprocher du titre */
}

.right p {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 70px;
    text-align: justify;
}

/* Ajuste la position du titre et du paragraphe vers le haut de la page */
.main {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    background-color: #2e2a2a;
    color: #fff;
    padding: 30px 100px;
}
footer a {
    color: inherit; /* Utilise la couleur par défaut du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

footer a:hover {
    color: inherit; /* Utilise la couleur par défaut du texte au survol */
}
footer h1 {
    font-family: 'Open sans', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
}

@media screen and (max-width: 680px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img {
        height: 200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card {
        display: block;
    }
    footer {
        padding: 0px;
    }
}
