@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Young serif', serif;
    background-color: #000;
    color: #fff;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

nav h1 {
    color: #717171;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

nav .onglets a {
    text-decoration: none;
    color: white;
    margin-right: 100px;
    border-bottom: 0px solid #000;
    padding-bottom: 15px;
}

nav .onglets a:hover {
    color: #b8bcbe; /* Couleur du texte au survol */
}

header {
    text-align: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('contact.jpg');
    background-size: cover;
    color: #fff;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 90px;
}

.oeuvre {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.oeuvre img {
    width: 69%; 
    height: auto;
    margin-right: 500px;
}

.oeuvre p {
    width: 100%; 
    margin-top: 20px;
    padding: 20px;
    margin-left: -500px;
    text-align: justify;
}

.oeuvre h2 {
    margin-top: -480px;
    width: 100%;
    text-align: center;
    margin-left: -420px;
    text-decoration: underline;
    font-size: 37px;
}

a {
    color: #fff; /* Couleur du texte du lien */
    text-decoration: none; /* Supprime la décoration du lien (soulignement) */
}

a:hover {
    color: #ccc; /* Couleur du texte du lien au survol */
}

footer {
    margin-top: 20px;
    background-color: #2e2a2a;
    color: #fff;
    padding: 30px 100px;
}

footer h1 {
    font-family: 'Open sans', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(181, 181, 181);
}

footer a {
    color: inherit; /* Utilise la couleur par défaut du texte */
    text-decoration: none; /* Supprime le soulignement par défaut */
}

footer a:hover {
    color: inherit; /* Utilise la couleur par défaut du texte au survol */
}
